<dl class="accordion" data-accordion>
	<dd class="accordion-navigation">
		<a href="#panel1">Profile</a>
			<div id="panel1" class="content">
      	<dl class="tabs" data-tab>
      		<dd><a href="#panel2-1">Updating Profile</a></dd>
      		<dd><a href="#panel2-2">Network</a></dd>
      		<dd><a href="#panel2-3">Calender</a></dd>
      		<dd><a href="#panel2-4">Gallery</a></dd>
      	</dl>
      </div>
      <div class="tabs-content">
      	<div class="content" id="panel2-1">
      		<p>Help information on Updating your profile</p>
      	</div>
      	<div class="content" id="panel2-2">
      		<p>Information about your network and its functionality</p>
      	</div>
      	<div class="content" id="panel2-3">
      		<p>Information on utilizing your personal calender</p>
      	</div>
      	<div class="content" id="panel2-4">
      		<p>Help with gallery things</p>
      	</div>
      </div>	
	</dd>
	<dd class="accordion-navigation">
		<a href="#panel2">Projects</a>
			<div id="panel2" class="content">
      	<dl class="tabs" data-tab>
      		<dd><a href="#panel2-1">Starting a project</a></dd>
      		<dd><a href="#panel2-2">Finding help</a></dd>
      		<dd><a href="#panel2-3">Managing progress</a></dd>
      		<dd><a href="#panel2-4">Funding</a></dd>
      	</dl>
      </div>
      <div class="tabs-content">
      	<div class="content" id="panel2-1">
      		<p>Info on starting a project</p>
      	</div>
      	<div class="content" id="panel2-2">
      		<p>Information about your network and its functionality</p>
      	</div>
      	<div class="content" id="panel2-3">
      		<p>Information on utilizing your personal calender</p>
      	</div>
      	<div class="content" id="panel2-4">
      		<p>Help with gallery things</p>
      	</div>
      </div>
	</dd>
</dl>