<h1>This is the help page where we will have user guides</h1>
<ul>
<li><a href="#">Profile</a></li>
<li><a href="#">Forums</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Stories</a></li>
</ul>