<div class='navbar'>
<nav class="top-bar">
	<section class="top-bar-section text-center">
		<ul class="">
			<li class="small-1"><a href="#">Home</a></li>
			<li class="small-1"><a href="#">Profile</a></li>
			<li class="small-1"><a href="#">Projects</a></li>
			<li class="small-1"><a href="#">Stories</a></li>
			<li class="small-1"><a href="#">Forums</a></li>
			<li class="small-1"><a href="#">Events</a></li>
			<li class="small-4 has-form">
			  <div class="row collapse">
			    <div class="small-8 columns">
			      <input class="radius" type="text" placeholder="&#x2315 Find Stuff">
			    </div>
			    <div class="small-4 columns">
	      		<a href="#" class="secondary button radius expand">Search</a>
	    		</div>
			  </div>
			</li>
			<li class="small-1 columns"><a href="#" class="menu-icon">&#9776</a></li>
			<li class="small-1 columns"><a href="#">&#9881</a></li>
		</ul>
	</section>
</nav>
</div>