<div class="slick">
	<div class="row slick-slide">
		<div class="slick-container small-5 small-offset-1 end column">
			<div class="row">
				<div class="small-12 column text-center">
					<h1 style="color: rgb(46,151,255)">Have an Idea?</h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<p><strong>Make your ideas a reality!</strong> With Project Collabo&copy you can start your very own project, recruit professional help, monitor your projects status, gain funding and more!</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<a href="#" class="button radius">Create your free account today!</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row slick-slide">
		<div class="slick-container small-5 small-offset-1 end column">
			<div class="row">
				<div class="small-12 column text-center">
					<h1 style="color: rgb(46,151,255)">Need Inspiration?</h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<p><strong>Learn from the experts!</strong> Get inspired watching our interviews with the best of the industry. Read the advise of the Project Collabo&copy community forums and acheive.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<a href="#" class="button radius">Create your free account today!</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row slick-slide">
		<div class="slick-container small-5 small-offset-1 end column">
			<div class="row">
				<div class="small-12 column text-center">
					<h1 style="color: rgb(46,151,255)">Networking?</h1>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<p><strong>Find help and host events!</strong> Host events across your network, make valuable connections, and find new work for your skill.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<a href="#" class="button radius">Create your free account today!</a>
				</div>
			</div>
		</div>
	</div>
</div>